[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
mysql = "*"
mysql-connector-python = "*"
tk = "*"
terminaltables = "*"
colorama = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
